<html ng-app="calculate">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title> WebSAFE </title>
    
        <!-- Bootstrap and other css -->
        <link href="{{ static_url("css/angular.css") }}" rel="stylesheet">
        <link href="{{ static_url("lib/leaflet/leaflet.css") }}" rel="stylesheet">
        <link href="{{ static_url("lib/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" media="screen">
        
        
        
        <link href="{{ static_url("lib/jqueryFileTree/jqueryFileTree.css") }}" rel="stylesheet">
        
    </head>
    
    <body>
        <div class="navbar navbar-default navbar-static-top navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">WebSAFE</a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="http://localhost:5000/">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Tools <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://localhost:5000/calculate">Calculate</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <tabset class="col-sm-3 pull-left" id="tabs">
            <tab heading="Layers" id="tabs-1">
                <div id="filetree" ng-controller="FileTreeCtrl"> </div>
            </tab>
            <tab heading="Layer Order" id="tabs-2"> </tab>
        </tabset>
        
        <div class="col-sm-4 pull-right" id="result_panel">
            <h4>Impact Calculator</h4>
            <form id="result_form" name="result_form" ng-controller="CalculateCtrl">
                <h5>Hazard</h5>
                <input type="hidden" ng-model="hazard.file" required>
                <label> Layer </label>
                <input type="text" ng-model="hazard.name" required>
                <label> Title </label>
                <input type="text" ng-model="hazard.title" required>
                <label> Category </label>
                <input type="text" ng-model="hazard.category" required>
                <label> Subcategory </label>
                <select ng-model="hazard.subcategory" required>
                    <option val="">Not Set</option>
                    <option val="earthquake">earthquake</option>
                    <option val="flood">flood</option>
                </select><br><br>
                    
                <h5>Exposure</h5>
                <input type="hidden" ng-model="exposure.file" required>
                <label> Layer </label>
                <input type="text" ng-model="exposure.name" required>
                <label> Title </label>
                <input type="text" ng-model="exposure.title" required>
                <label> Category </label>
                <input type="text" ng-model="exposure.category" required>
                <label> Subcategory </label>
                <select ng-model="exposure.subcategory" required>
                    <option val="">Not Set</option>
                    <option val="population">population</option>
                    <option val="structure">structure</option>
                    <option val="road">road</option>
                </select><br><br>
                    
                <p>
                    <button class="btn btn-danger btn-xs" id="reset"
                        ng-click='reset()'> Reset </button>
                    <button class="btn btn-primary btn-xs" id="calculate"
                        ng-click='calc()'> Calculate </button>
                </p>
            </ng-form>
        </div>

        <div class="container">
                <div id="map" ng-controller="MapCtrl"></div>
        </div>
        
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ static_url("lib/angular-1.1.5/angular.min.js") }}"></script>
        <script src="{{ static_url("lib/angular-1.1.5/ui-bootstrap-custom-tpls-0.6.0.min.js") }}"></script>
        <script src="{{ static_url("lib/leaflet/leaflet.js") }}"></script>
        
        <script src="{{ static_url("js/jquery-1.9.1.js") }}"></script>
        <script src="{{ static_url("js/jquery-ui.js") }}"></script>
        <script src="{{ static_url("lib/jqueryFileTree/jqueryFileTree.js") }}"></script>
        
        <!-- Include user-defined scripts -->
        <script src="{{ static_url("js/angular.js") }}"></script>
        <script src="{{ static_url("js/controllers.js") }}"></script>
        <script src="{{ static_url("js/directives.js") }}"></script>
    </body>
</html>