<html ng-app="calculate">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title> WebSAFE </title>
    
        <!-- Bootstrap and other css -->
        <link href="{{ static_url("css/angular.css") }}" rel="stylesheet">
        <link href="{{ static_url("lib/leaflet/leaflet.css") }}" rel="stylesheet">
        <link href="{{ static_url("lib/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" media="screen">
        
    </head>
    
    <body>
        <div class="navbar navbar-default navbar-static-top navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">WebSAFE</a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="http://localhost:5000/">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Tools <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://localhost:5000/calculate">Calculate</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <tabset class="col-sm-3 pull-left" id="tabs">
            <tab heading="Layers" id="tabs-1"></tab>
            <tab heading="Layer Order" id="tabs-2">
                <ul style="padding: 10px">
                    <li> buildings.shop</li>
                    <li> buildings.shop</li>
                    <li> buildings.shop</li>
                    <li> buildings.shop</li>
                    <li> buildings.shop</li>
                    <li> buildings.shop</li>
                    <li> buildings.shop</li>
                    <li> buildings.shop</li>
                    <li> buildings.shop</li>
                    <li> buildings.shop</li>
                    <li> buildings.shop</li>
                </ul>
            </tab>
        </tabset>
        
        <div class="col-sm-4 pull-right" id="result_panel">
            <h4>Impact Calculator</h4>
            <div id="result_content">
                <center>Hazard</center>
                <input id="hazard_filename" type="hidden">
                <label> Layer </label>
                <input id="hazard_name" type="text">
                <label> Title </label>
                <input id="hazard_title" type="text">
                <label> Category </label>
                <input id="hazard_category" type="text">
                <label> Subcategory </label>
                <select id="hazard_subcategory">
                    <option val="">Not Set</option>
                    <option val="earthquake">earthquake</option>
                    <option val="flood">flood</option>
                </select><br><br>
                    
                <center>Exposure</center>
                <input id="exposure_filename" type="hidden">
                <label> Layer </label>
                <input id="exposure_name" type="text">
                <label> Title </label>
                <input id="exposure_title" type="text">
                <label> Category </label>
                <input id="exposure_category" type="text">
                <label> Subcategory </label>
                <select id="exposure_subcategory">
                    <option val="">Not Set</option>
                    <option val="population">population</option>
                    <option val="structure">structure</option>
                    <option val="road">road</option>
                </select><br><br>
                    
                <center>
                <p>
                    <button class="btn btn-danger btn-xs" id="reset"> Reset </button>
                    <button class="btn btn-primary btn-xs" id="calculate"> Calculate </button>
                </p>
                </center>
            </div>
        </div>

        <div class="container">
            <div id="map" ng-controller="MapCtrl"></div>
        </div>
        
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ static_url("lib/angular-1.1.5/angular.min.js") }}"></script>
        <script src="{{ static_url("lib/angular-1.1.5/ui-bootstrap-custom-tpls-0.6.0.min.js") }}"></script>
        <script src="{{ static_url("lib/leaflet/leaflet.js") }}"></script>
        
        <!-- Include user-defined scripts -->
        <script src="{{ static_url("js/angular.js") }}"></script>
        <script src="{{ static_url("js/controllers.js") }}"></script>
        <script src="{{ static_url("js/directives.js") }}"></script>
        <script src="{{ static_url("js/services.js") }}"></script>
        <script src="{{ static_url("js/filters.js") }}"></script>
    </body>
</html>