body{
    margin:0;
    padding:0;
}
.footer{
    bottom:0;
    position:fixed;
    width:100%;
}
#tabs {
    height: 80%;
}
#accordion_content, #accordion_content2 {
    background: #ccc;
    height: 69%;
}
#map{ 
    height: 80%;
}
#tabs-1 {
    //overflow: scroll;
}